@import "tailwindcss";

.product-detail .ant-upload-list-item-container {
  width: 240px !important;
  height: 271px !important;
}
.product-detail .ant-upload {
  width: 240px !important;
  height: 271px !important;
}

.user .ant-upload {
  width: 240px !important;
  height: 240px !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-tabs .ant-tabs-nav {
  margin-bottom: 20px;
}

.custom-tabs .ant-tabs-tab {
  font-weight: 500;
  color: #555;
  transition: all 0.3s ease;
  padding: 8px 16px;
}

.custom-tabs .ant-tabs-tab:hover {
  color: #f37142;
}

.custom-tabs .ant-tabs-tab-active {
  background-color: rgba(243, 113, 66, 0.1);
  border-radius: 8px;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #f37142 !important;
}
.custom-tabs .ant-tabs-tab {
  margin: 0 !important;
}
.custom-tabs .ant-tabs-ink-bar {
  background: #f37142 !important;
  height: 3px;
  border-radius: 3px;
}
.no-spinner .ant-input-number-handler-wrap {
  display: none !important;
}
@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-scale-in {
  animation: scaleIn 0.3s ease-out;
}
.animate-slide-in-right {
  animation: slideInRight 0.4s ease-out;
}
